* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e3e7e7;
}
.card {
  width: 90%;
  max-width: 470px;
  background-color: rgb(123, 189, 178);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  background-color: #fff;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  font-size: 18px;
  margin-right: 16px;
  border: none;
  outline: none;
}

.search button {
  border: none;
  outline: none;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 20px;
  /* height: 20px; */
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}
.weather h1 {
  font-size: 80px;
  font-weight: 500;
}

.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}
.col img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 22px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  display: flex;
  margin-left: 10px;
  padding: 15px;
  color: rgb(228, 45, 130);
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  display: none;
}
